<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectJammix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5771DEA11C7CD27100D3E5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5771DEBA1C7CD27100D3E5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5771DEC51C7CD27100D3E5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
